#wrapper
{
    margin: 30%;
    border: 2px solid black;
    padding: 1%;
}
p
{
    text-align: left;
    display: inline-block;
    width: 50%;
}
select
{
    text-align: right;
    display: inline-block;
}
input
{
    text-align: right;
    display: inline-block;
}
textarea
{
    display: block;
    width: 100%;
}
#BUTTON
{
    display:  inline;
    text-align: right;
    margin: 2%;
    margin-left: 80%;
}